body {
	padding: 0;
	margin: 0;
	font-family: Arial;
}
header {
	height: 70px;
	background-color: #8868BB;
}
.logo {
	float: left;
}
nav {
	float: right;
}
.menu {
	padding: 0;
	margin: 0;
	display: block;
}
.menu li {
	float: left;
	display: block;
	font-size: 20px;
	margin-right: 25px;
	margin-top: 20px;
}
.menu a {
	text-decoration: none;
	color: #F0F8FF;
}
section {
	background-color: #EDEEF0;
}
.container1 {
	height: 900px;
	width: 70px;
}
.container1 a {
	text-decoration: none;
}
footer {
	background-color: #EDEEF0
}
ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
ul:after {
	display: block;
	content: "" ;
	clear: both;
	float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 5px;
    color: white;
    background-color: #8868BB;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: #6E43B9;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 220px;
    top: 37px;
    left: 0;
    background-color: #9781B9;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #9781B9;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: none;
    background-color: #6E43B9;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
.button {
	float: left;
	height: 50px;
	width: 200px;
	color: white;
	background-color: #8868BB;
	margin-top: 10px;
	margin-left: 10px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 30px;
	font-size: 20px;
}
.button:hover {
	background-color: #6B38BB;
}
.modal_window {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #8868BB;
	z-index: 9;
	-webkit-transition: opacity 10ms ease-in;
	-moz-transition: opacity 10ms ease-in;
	transition: opacity 10ms ease-in;
	display: none;
	pointer-events: none;
}
.modal_window:target {
	display: block;
	pointer-events: auto;
}
.modal_window > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background-color: white;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover {
	background: #6B38BB;
}
button {
	border-radius: 5px;
}